In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df=pd.read_csv("E:\\NUCOT\\heart_disease_dataset.csv")

In [6]:
df.tail()

     age  chol
298   45   264
299   68   193
300   57   131
301   57   236
302   38   175

In [7]:
sns.dist(df["age"])

AttributeError: module 'seaborn' has no attribute 'dist'